.button {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-color);

  &:disabled {
    cursor: not-allowed;
  }

  svg {
    fill: var(--primary-color);
  }
}

.clear,
.clearInverted {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  background: none;
}

.background {
  border: none;
  color: var(--primary-color);
  background: var(--bg-color);
}

.backgroundInverted {
  border: none;
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.square {
  padding: 0;

  &.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
