.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  transition: width 300ms;
  background-color: var(--inverted-bg-color);
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .icon {
    fill: var(--inverted-primary-color);
  }

  .link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 200ms;
    opacity: 1;

    span {
      transition: opacity 200ms;
    }
  }
}

.collapseBtn {
  position: absolute;
  bottom: var(--font-line-l);
  left: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    justify-content: center;

    span {
      width: 0;
      opacity: 0;
    }
  }
}
