.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: var(--inverted-bg-color);
  gap: 40px;
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
